<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	    <h2>Title: {{event.name}}</h2>
	    <p>Description: {{event.description}}</p> 
	</div>
	<div class="col-md-4"></div>
</div>
 <google-map center="map.center" draggable="true" zoom="map.zoom" control="googleMap"></google-map>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	<div id="weather" ng-repeat="sol in regn">
		<i ng-show="isSun(sol.rank)" class="fa fa-sun-o"></i>
		<i ng-show="!isSun(sol.rank)" class="fa-cloud"></i>
	</div>
	</br>
		<button class="btn btn-lg btn-success" ng-click="likeEvent(event)" type="button">
	    	Like
		</button>
	</div>
	<div class="col-md-4"></div>
</div>
