<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				<div class="row">
					<h1 class="col-xs-3"><i class="fa fa-bullseye"></i> {{event.name}}</h1>
					<h1 class="col-xs-1"><i class="fa fa-bus"></i><h2 class="col-xs-7">NÄRMSTA BUSSHÅLLPLATS:<p> {{routeParams.busStopName}}</p></h2></h1>
					<h1 class="col-xs-1"><i class="pull-right" ng-click="toggleFavorite(event); $event.stopPropagation();" ng-class="{true: 'fa fa-heart', false: 'fa fa-heart-o'}[isFavorite(event._id)]"></i></h1>
				</div>
			</div>
			<h2>Vad handlar det här eventet om?</h2>
			<p class="lead">{{event.description}}</p> 
		</div>
	</div>
	<google-map events="map.events" center="map.center" draggable="true" zoom="map.zoom" control="googleMap"></google-map>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading"><h4>Väderprognos för de kommande dagarna</h4></div>

				<!-- Table -->
				<table class="table">
					<thead>
						<tr>
							<th ng-repeat="sol in regn">{{getDay($index)}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td ng-repeat="sol in regn">
								<i ng-class="{true: 'fa fa-sun-o', false: 'fa fa-cloud'}[isSun(sol.rank)]" class="fa fa-cloud"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div> 
		</br>
	</div>
</div>
</div>
