<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12" ng-show="!busStopChoosen">
    <div class="row">
       <div class="col-sm-4"></div>
       <div class="col-sm-4">
          <div class="list-group">
             <h3 class="list-group-item-heading" ng-repeat="objects in result" ng-click="showBusStop(objects)"><a class="list-group-item">{{objects.name}}</a></h3>
             
           </a>
       </div>
   </div>
</div>
</div>

<div class="col-md-12" ng-show="busStopChoosen">
	<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<button class="btn btn-primary" ng-click="busStopChoosen=false">Återvänd till sökresultaten</button>
	</div>
	</div>
    <div class="row">
    	
    	<div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="list-group">
             <h3 class="list-group-item">{{busstop.name}}</h3>
             <a href="#/event/show/{{event._id}}" class="list-group-item" ng-repeat="event in busstop.events">
               <h4 class="list-group-item-heading">{{event.name}} <small>{{event.date}}</small></h4>
               <p class="list-group-item-text">{{event.description}}</p>
               <p class="list-group-item-text">{{event._id}}</p>
           </a>
      	</div>
   		</div>
	</div>
</div>
